/*****************************schriftarten********************************/
.economica-regular {
  font-family: "Economica", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.economica-bold {
  font-family: "Economica", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/*******************HTML****************************************/

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  color: white;
  margin-top: 0%;
  margin-block-end: 0%;
  text-align: center;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: 700;
  font-style: normal;
  color: #9f0908;
  margin: 0px;
  margin-top: 0%;
  margin-bottom: 0%;
  text-align: center;
}

h3 {
  font-family: "Economica", Arial, Helvetica, sans-serif;
  font-size: 56px;
  font-weight: 700;
  font-style: normal;
  margin-top: 0%;
  margin-bottom: 0%;
  padding-bottom: 16px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #675e54;
}

span {
  font-family: "Raleway", sans-serif;
  font-size: clamp(1rem, 2vw, 2rem);
  text-align: center;
}

html,
body {
  scroll-behavior: smooth;
  height: 100%;
  margin: 0;
  padding: 0;
}
/***********************************AOT*************************/
#main {
  background-image: url("./image/hero_bg.jpg");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  border: none;
}
/*********************ourmenu*********************************/
#ourmenu {
  background-image: url("./image/section_our_menu_bg.jpg");
  background-position: 100% top;
  background-size: cover;
  background-repeat: repeat;
  width: 100%;
  padding-top: 120px;
  padding-bottom: 120px;
  margin: 0;
  border: none;
}

#h_ourmenu {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-bottom: 64px;
}

.menutext {
  width: 400px;
  color: #675e54;
}

.picramen {
  height: 352px;
  width: 352px;
}

#tonkotsu {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 56px;
  padding-left: 8%;
  gap: 80px;
}

#spmiso {
  display: flex;
  justify-content: flex-start;
  flex-direction: row-reverse;
  align-items: center;
  padding-bottom: 56px;
  padding-right: 8%;
  gap: 80px;
}

#shio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 8%;
  gap: 80px;
}

.ing {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
}

#headline {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  color: white;
  font-size: 24px;
}

.abstand1 {
  margin-top: 120px;
}

.abstand2 {
  margin-top: 64px;
}

.pick {
  height: 300px;
  width: 256px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon {
  height: 128px;
  width: 128px;
}

.picktext {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.contpick {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-bottom: 120px;
}

#findus {
  padding-top: 120px;
}

#address {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  padding-top: 8px;
  padding-bottom: 64px;
  text-align: center;
}

#pointer {
  height: 24px;
  width: 24px;
}

#footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 130px;
  width: 100%;
  background-color: #0a141e;
  border-top: 14px solid white;
}

.footerpic {
  height: 40px;
  width: 40px;
  padding-left: 10px;
}

#footerpics {
  padding-right: 8%;
  display: flex;
  row-gap: 10px;
  justify-content: space-evenly;
}

#labelpic {
  height: 44px;
}

#labelpicbox {
  padding-left: 8%;
}

#menubar {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 112px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
}

#menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-size: 96px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.menulink {
  margin: 20px;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flower {
  width: 64px;
  height: 64px;
}

.button {
  display: flex;
  align-items: center; /* vertikal mittig */
  gap: 8px; /* Abstand zwischen Icon und Text */
  background-color: #9f0908;
  border-radius: 8px;
  border-color: white;
  border: thin solid white;
  margin-left: 20px;
  padding: 10px;
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  font-style: normal;
}
.button span {
  transform: translateY(-2px); /* Text um 2px nach oben */
}

.button:hover {
  background-color: #675e54;
  padding: 11px;
  margin-left: 19px;
}

#button:hover a {
  color: white;
}

#phone {
  vertical-align: middle;
  height: 26px;
  width: 26px;
}
@media (max-width: 950px) {
  .hidemobile {
    display: none;
  }
  h2 {
    font-size: clamp(3em, 2vw, 3em);
  }
}
@media (max-width: 800px) {
  .contpick {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 40%;
  }
  .pick {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .icon {
    width: 24%;
    height: auto;
    aspect-ratio: 1 / 1;
    padding-top: 24%;
    padding-bottom: 8%;
  }
  h1 {
    font-size: 5rem;
  }
}
@media (max-width: 700px) {
  h1 {
    font-size: 4rem;
  }

  #tonkotsu {
    flex-direction: column;
    padding-left: 0%;
    gap: 80px;
  }
  #spmiso {
    flex-direction: column;
    padding-right: 0%;
  }
  #shio {
    flex-direction: column;
    padding-left: 0%;
  }
  .menutext {
    width: 80%;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 3.2rem;
  }

  .footerklein {
    flex-direction: column;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
  }
}
#labelpic {
  width: 56%;
  height: auto;
      object-fit: scale-down;
  overflow: hidden;
}
@media (max-width: 442px) {
  h1 {
    font-size: 3rem;
  }
  span {
    font-size: 1.4rem;
  }

  div#address {
    display: flex; /* Or block */
    justify-content: center; /* Center the inner content horizontally */
    align-items: center; /* Center the inner content vertically if parent is flex column */
  }

  .address-content {
    display: flex;
    flex-direction: column; /* Stack image and text */
    align-items: center; /* Center contents horizontally within this container */
    text-align: center; /* Center text within its lines */
  }

  img#pointer {
    /* Basic styles */
    margin: 0 auto;
  }
}
@media (max-width: 400px) {
  .klein {
    font-size: 0.8rem;
  }
  .icon {
    width: 32%;
  }
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2.5rem;
    padding-bottom: 2%;
  }
  h3 {
    font-size: 2.5em;
    padding-top: 0%;
    padding-bottom: 0%;
  }
  span {
    font-size: 1rem;
  }
  .picramen {
    width: 95%;
    height: auto;
    display: flex;
    justify-content: center;
  }
  #labelpicbox {
    width: 64%;
    padding-left: 0%;
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 368px) {
  #pointer {
    margin: 0 auto;
  }
  div#address {
    display: flex;
  }
  h1 {
    font-size: 2rem;
  }
  span {
    font-size: 16px;
  }
}
@media (max-width: 312px) {
  h3 {
    font-size: 2.4rem;
  }
  span {
    font-size: 12px;
  }
}
